[Unit]
Description=ShobikaOs Graphical Installer
After=graphical.target lightdm.service
Wants=graphical.target
Requires=lightdm.service

[Service]
Type=simple
User=liveuser
Group=liveuser
Environment=DISPLAY=:0
Environment=GTK_THEME=Arc-Dark
ExecStart=/usr/bin/shobika-installer
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target